<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hz.kvalifdarbs">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".UserSelectActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AddAdminActivity"
            android:label="Add Administrator"/>
        <activity
            android:name=".admin.AddPatientActivity"
            android:label="Add Patient" />
        <activity
            android:name=".admin.AddDoctorActivity"
            android:label="Add Doctor"/>
        <activity
            android:name=".doctor.DoctorViewPatientActivity"
            android:label="Patient"/>
        <activity android:name=".admin.AllPatientListActivity"
            android:label="All Patients"/>
        <activity android:name=".admin.AllDoctorListActivity"
            android:label="All Doctors"/>
        <activity
            android:name=".admin.AdminMainActivity"
            android:label="Hello" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".admin.AdminViewPatientActivity"
            android:label="Patient" />
        <activity
            android:name=".admin.AdminViewDoctorActivity"
            android:label="Doctor" />
        <activity
            android:name=".admin.AvailableDoctorListActivity"
            android:label="Available Doctors" />
        <activity
            android:name=".doctor.DoctorMainActivity"
            android:label="Hello"/>
        <activity
            android:name=".patient.PatientMainActivity"
            android:label="Hello"/>
        <activity
            android:name=".doctor.DoctorPatientListActivity"
            android:label="My Patients"/>
        <activity
            android:name=".admin.AddUserActivity"
            android:label="Select User to add"/>
        <activity android:name=".patient.ConnectDeviceActivity"
            android:label="Movement Device"/>
        <activity android:name=".patient.PatientDoctorListActivity"
            android:label="My Doctors" />
        <activity android:name=".patient.PatientExamListActivity"
            android:label="Examinations"/>
        <activity android:name=".patient.PatientMovementListActivity"
            android:label="Movements"/>
    </application>

</manifest>